<ion-view view-title="Goals">

  <ion-content class="statusbar-padding">
    <div class="bar bar-header">
      <button class="button button-clear button-calm">96%</button>
      <div class="h1 title">Wednesday 29 June 2016</div>
      <a ui-sref="tab.goal-create" class="button button-clear button-positive">Add</a>
    </div>
    <scroll-content>
      <ion-item-group>
        <ion-item-divider light="">
          Monday 27th June 2016
        </ion-item-divider>
        <ion-item class="item" ui-sref="tab.goal-detail({goalId: 1})">
          <div class="item-inner">
            <div class="input-wrapper">
              <!--template bindings={}-->
              <ion-label>Angola</ion-label>
            </div>
          </div>
        </ion-item>
        <ion-item class="item" ui-sref="tab.goal-detail({goalId: 1})">
          <div class="item-inner">
            <div class="input-wrapper">
              <!--template bindings={}-->
              <ion-label>Argentina</ion-label>
            </div>
          </div>
        </ion-item>
        <ion-item class="item" ui-sref="tab.goal-detail({goalId: 1})">
          <div class="item-inner">
            <div class="input-wrapper">
              <!--template bindings={}-->
              <ion-label>Armenia</ion-label>
            </div>
          </div>
        </ion-item>
        <ion-item class="item" ui-sref="tab.goal-detail({goalId: 1})">
          <div class="item-inner">
            <div class="input-wrapper">
              <!--template bindings={}-->
              <ion-label>Australia</ion-label>
            </div>
          </div>
        </ion-item>
        <ion-item class="item" ui-sref="tab.goal-detail({goalId: 1})">
          <div class="item-inner">
            <div class="input-wrapper">
              <!--template bindings={}-->
              <ion-label>Austria</ion-label>
            </div>
          </div>
        </ion-item>
      </ion-item-group>
    </scroll-content>

  </ion-content>
</ion-view>
