<ion-view view-title="Create Goal">
  <ion-content class="statusbar-padding">
    <form name="goal-create">
      <ion-list>
        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Title">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Start Time</span>
          <input type="text" placeholder="Start Time">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">End Time</span>
          <input type="text" placeholder="End Time">
        </label>
      </ion-list>

      <div class="padding">
        <button ui-sref="tab.goals" class="button button-block button-positive">Create Task</button>
      </div>
    </form>
  </ion-content>
</ion-view>

